<!--
footer.ejs
Seungkoo Kim
301150666
Midterm
-->
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">All rights reserved. JAPHET REYES 301212968</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>